@import '../../../../assets/styles/global.scss';
@import '../../../../assets/styles/mixins.scss';

.popupForm {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.popupContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: max(30vw, 320px);
    height: max(40vh, 250px);
    position: relative;
    cursor: initial;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 1.5em;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 5px;

        img {
            width: 32px;
            height: 32px;
        }
    }
    
    @media (max-width: 768px) {
        height: max(55vh, 250px);
    }
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border: 0;
    background: transparent;
    font-size: 30px;
    line-height: 20px;
    transition: .3s ease-in-out;

    &:hover {
        color: $fontHoverColor;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: max(70%, 250px);

    div {
        width: 100%;
        position: relative;

        input {
            width: 100%;
            border: 0;
            border-radius: 8px;
            filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.26));
            padding: .5em;
            font-size: 1.2em;
            transition: .3s ease-in-out;
            border-bottom: 2px solid transparent;

            &:focus {
                border: 0;
                outline: none;
                border-bottom: 2px solid $fontHoverColor;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                &+label {
                    top: -18px; 
                    transform: translateY(0); 
                    font-size: 0.8em;
                }
            }
        }

        label {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            transition: .3s ease-in-out;
        }
    }

    button {
        @include buttonMixin;
        width: 100%;
    }
}