@import '../../../assets/styles/mixins.scss'; 

.banner {
    width: 100%;
    border-radius: 36px;
    background: linear-gradient(45deg, #5B52A3 0%, #40B8EA 100%);
    padding: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    div {
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    h2 {
        color: #fff;
        font-size: 3.2vw;
        font-weight: 800;
    }

    p {
        font-size: 20px;
        color: #fff;
    }

    img {
        width: 80%;
    }

    button {
        @include buttonMixin;
        width: 50%;
        align-self: flex-start;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 50px;
        
        div {
            width: 100%;
        } 
    }
}