$fontColor: #1F2428;
$fontHoverColor: #00C97B;
$btnGradient: linear-gradient(90deg, #00C97B 0%, #00D981 100%);

:root {
    --base-font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

a {
    color: $fontColor;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.active {
    color: $fontHoverColor;
}